In [63]:
import numpy as np
import matplotlib.pyplot as plt
from os import listdir
from os.path import isfile, join
import pandas as pd
from collections import Counter

from helpers import *

In [10]:
listdir()

['__MACOSX', 'vis.ipynb', '.ipynb_checkpoints', 'data']

In [15]:
csvs = [f for f in listdir('data') if isfile(join('data', f))]

In [16]:
csvs

['products.csv',
 'orders.csv',
 'order_products__train.csv',
 'departments.csv',
 'aisles.csv',
 'order_products__prior.csv',
 'sample_submission.csv']

In [21]:
products = pd.read_csv('data/products.csv')
orders = pd.read_csv('data/orders.csv')
order_train = pd.read_csv('data/order_products__train.csv')
departments = pd.read_csv('data/departments.csv')
aisles = pd.read_csv('data/aisles.csv')
orders_prior = pd.read_csv('data/order_products__prior.csv')
sample_sub = pd.read_csv('data/sample_submission.csv')

In [49]:
products

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [65]:
products.product_name.unique()

array(['Chocolate Sandwich Cookies', 'All-Seasons Salt',
       'Robust Golden Unsweetened Oolong Tea', ..., 'Artisan Baguette',
       'Smartblend Healthy Metabolism Dry Cat Food',
       'Fresh Foaming Cleanser'], dtype=object)

In [55]:
def uniques(series): return len(series.unique())/len(series)


def uniques_df(df):
    for column in df.columns:
        print(column, '::>>', uniques(df[column]))

In [56]:
uniques_df(products)

product_id ::>> 1.0
product_name ::>> 1.0
aisle_id ::>> 0.0026968282080180326
department_id ::>> 0.0004226372564804379

In [58]:

cnt_srs = orders.groupby("eval_set").aggregate(uniques)
cnt_srs

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
eval_set,,,,,,
prior,1,0.064142,0.000031,0.000002,0.000007,0.000010
test,1,1.000000,0.001293,0.000093,0.000320,0.000413
train,1,1.000000,0.000739,0.000053,0.000183,0.000236

In [72]:
list(map(lambda k: k[1]/len(orders.eval_set),dict(Counter(orders.eval_set)).items()))
{k[0]:k[1]/len(orders.eval_set) for k in dict(Counter(orders.eval_set)).items()}

{'prior': 0.9397240581418224,
 'train': 0.03835305954284067,
 'test': 0.021922882315336987}

In [59]:
orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0